.payment-section {
  margin-top: 100px;
  height: 320px;
  padding: 50px 90px;
  background-color: $c-payment-bg;
  background-image: url("../assets/images/bg-payment.png");
  background-repeat: no-repeat;
  background-size: 490px 270px;
  background-position: right 7.5% bottom;
  border-radius: 20px;
  box-sizing: border-box;

  @media screen and (max-width: $screen-md-max) {
    background-position: right bottom;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 40px 32.5px;
    height: 468px;
    background-image: url("../assets/images/bg-payment-mobile.png");
    background-size: 340px 250px;
    background-position: bottom;
  }
}

.payment-content {
  width: 482px;

  @media screen and (max-width: $screen-md-max) {
    width: 400px;
  }

  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
    height: auto;
  }
}

.payment-title {
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: $c-payment-title;
  text-align: center;

  @media screen and (max-width: $screen-md-max) {
    font-size: 32px;
    line-height: 40px;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 30px;
  }
}

.payment-btn {
  display: block;
  margin: 0 auto;
  padding: 18px 72px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  background-color: $c-payment-btn-bg;
  color: $c-payment-btn-text;
  border: 2px solid $c-payment-border;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;

  @media screen and (max-width: $screen-sm-max) {
    padding: 13px 29px;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    background-color: $c-payment-btn-bg-hover;
    color: $c-payment-btn-text-hover;
  }
}
